version: '3.8'

services:

  app: 
    build: ./web-app
    ports: 
      - "3000:3000"
    environment:
      - DB_HOST: mongodb://db/scoobygang
    depends_on:
      - db

  db:
    image: mongo:4.0-xenial
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./db:/data/db

  ml-client:
    build: ./machine-learning-client
    ports:
      - "5001:5001"
    environment:
      - DB_HOST: mongodb://database/scoobygang
      - FLASK_ENV=development
    depends_on:
      - db

