[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask = "*"
pylint = "*"
black = "*"
flask-cors = "*"

[dev-packages]
pytest-mock = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.12"
