[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
opencv-python = "*"
numpy = "*"
flask = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
