[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "==3.9.0"
textblob = "==0.17.1"
dnspython = "==2.4.2"
flask = "==2.3.2"
flask-pymongo = "==2.3.0"
jinja2 = "==3.1.2"
pymongo = "==4.5.0"
python-dotenv = "==1.0.0"
regex = "==2024.9.11"
flask-login = "==0.6.3"
werkzeug = "==2.3.7"
pytest = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.11"
