black==24.10.0
build==1.2.2.post1
certifi==2024.8.30
click==8.1.7
distlib==0.3.9
dnspython==2.7.0
filelock==3.16.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pipenv==2024.4.0
platformdirs==4.3.6
pymongo==4.10.1
pynput==1.7.7
pyobjc-core==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-Quartz==10.3.1
pyproject_hooks==1.2.0
-e git+https://github.com/software-students-fall2024/3-python-package-itsover.git@68251d2d92c5e1dcf641ccfe9448e2fd5d8cf215#egg=pytarot
python-dotenv==1.0.1
six==1.16.0
tomli==2.0.2
typing_extensions==4.12.2
virtualenv==20.27.1
