[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tk = "*"
opencv-python = "*"
mediapipe = "*"
pyttsx3 = "*"
flask = "*"
pymongo = "*"
python-dotenv = "*"
pytest = "*"
black = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
