[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.0"
pymongo = {extras = ["srv"], version = "==4.10.1"}
flask-login = "==0.6.3"
python-dotenv = "==1.0.1"
certifi = "*"
pynput = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.13"