[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask-cors = "*"
SpeechRecognition = "*"
pymongo = "*"
python-dotenv = "*"
pytest = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"

[scripts]
format = "black ."
lint = "pylint **/*.py"
test = "pytest"