<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class = "header">translation history</h1>
    <div>
        <a href="/" class="history">back to home</a>
    </div>
    <div class="scrollable-container">
        <ul class="gallery">
            {% for image in images %}
                <li>
                    <img src="{{ 'data:image/png;base64,'+(image['output'] if image['output'] else '')}}" alt="Image" class="imgT">
                    <p class="translation">Translation: {{ image['translation'] }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>