<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="page-layout">
        <h1>Welcome to FaceBox, {{ username }}!</h1>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
