# Pipfile

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask_cors = "==3.0.10"
pymongo = "==4.10.1"
python-dotenv = "==1.0.1"
requests = "==2.32.3"

[dev-packages]
pylint = "*"  # Linter for code quality
black = "*"   # Code formatter
pytest = "*"  # Test framework
pytest-flask = "*"  # Flask-specific pytest extension
flask = "*"

[requires]
python_version = "3.10"
