<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyze Sound</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Tap to Listen</h1>
    <div id="record-button" class="red-circle"></div>
    <div id="result"></div>

    <div class="navigation">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('results') }}">Records</a>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
