{% extends "layout.html" %}

{% block title %} {{ user }} {% endblock %}

{% block content %}
<section>
    {% if all_results %}
    <div class="journal-content">
        <h1>Journal</h1>
        <div class="card-container">
            {% for result in all_results %}
                <div class="card">
                    <p class="entry-name">{{ result['name'] }}</p>
                    <img src="{{ result['photo'] }}" alt="Plant photo" class="entry-photo">
                    <p>Notes and Instructions:</p>
                    <p class="entry-instructions">
                        {{ result['instructions']}}
                    </p>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No identifications found.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
