{% extends "layout.html" %}

{% block title %} {{ user }} {% endblock %}

{% block content %}
<section>
    <div class="header-container">
        <button class="button back-button" onclick="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
        <h1>Journal</h1>
    </div>

    {% if results %}
    <div class="journal-content">
        <div class="card-container">
            {% for result in results %}
                <div class="card">
                    <p class="entry-name">{{ result['plant_name'] }}</p>
                    <img src="/static/uploads/{{ result.photo }}" alt="Plant photo" class="entry-photo">
                    {% if result.get('instructions') %}
                        <p>Notes and Instructions:</p>
                        <p class="entry-instructions">{{ result['instructions'] }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="empty-journal">
        <p>No identifications found.</p>
    </div>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
