{% extends "base.html" %}

{% block title %}Sign In Page{% endblock %}

{% block header %}
    <h1>Sign In</h1>
{% endblock %}

{% block content %}
    <p>New User? <a href="{{url_for("signup")}}">Register Now!</a></p>
    <form method="POST" action="{{url_for('signin_post')}}">
        <label for="usernameInput">Username:</label>
        <input type="text" id="usernameInput" name="username" required/>
        <br/>
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="password" required/>
        <br/>
        <input type="submit" value="Sign In"/>
    </form>
{% endblock %}