<!DOCTYPE html>
<html>
<head>
    <title>Sonus</title>
    <h1>Sonus: Audio to Text Application</h1>
    <h2>Here's a transcript of what you spoke!:</h2>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>

    <<!--<script>
        //get spoken transcript here
        /* example

        var myVariable = "Hello, world!";
        document.getElementById("spoken").innerHTML = myVariable;
        */
    </script>-->

    <script>
        fetch('/api/status')
    .then(response => response.json())
    .then(data => {
        document.getElementById('spoken').style.display = 'none'
    })
    .catch(error => console.error('Error displaying speech transcript'));
     </script>

    <div class="transcript">
        <!-- spoken populated in script/-->
        <p id="spoken"></p>
    </div>

</body>
</html>
