<!DOCTYPE html>
<html lang="en">

    <!-- Setup the HTML file -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rock, Paper, Scissors</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- HEADER SECTION -->
        <header>
            <a href="{{ url_for('home') }}" class="webName">
                <img src="{{ url_for('static', filename='logo.png') }}" id="logo">Rock, Paper, Scissors
            </a>

            <!-- Buttons -->
            <div class="button-container">
                <div class="replay-button"><a href="{{ url_for('home') }}">New Game</a></div>
                <div class="stats-button"><a href="{{ url_for('stats') }}">Stats</a></div>
            </div>
        </header>

        <!-- STATS PAGE SECTION -->
        <section class="stats" id="stats">
            <h2>Game Statistics:</h2>
            
            <table class="stats-table">
                <thead>
                    <tr>
                        <th>User Wins</th>
                        <th>Ties</th>
                        <th>Computer Wins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="user-wins">0</td>
                        <td id="ties">0</td>
                        <td id="computer-wins">0</td>
                    </tr>
                </tbody>
            </table>
        </section>        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>