<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="title-styles.css">
</head>
<body>
    <div>
        <video autoplay muted loop class="background">
            <source src="../images/icons.mp4" type="video/mp4">
            <img src="../images/icons bg.jpg">
        </video>
    </div>
    <h1>Rock Paper Scissors</h1>
    <div class="buttons">
        <button>New Round</button>
        <button>Statistics</button>
    </div>
</body>
</html>
