{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<section>
    <div class="content">
        <div>
            <h1>PlantifyAI</h1>
            <p>Your Personal Plant Journal</p>
            {% if user %}
            <a href="{{ url_for('upload') }}">New Entry</a>
            <a href="{{ url_for('history') }}">View Journal</a>
            {% else %}
            <a href="{{ url_for('login') }}">Log In</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}