body, html {
    /* background-color: rgb(200, 245, 200); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main, section {
    margin:0;
    width: 100%;
    height:90vh;
    background-color: green;
}

h1, p, a{
    color:rgb(239, 164, 208);
    /* background:rgb(55, 61, 55); */
}

footer {
    position: fixed;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 30px;
}

/* body {
    background-image: url('../images/background.avif');
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
}
.journal-cover {
    width: 50%;
    height: 100vh;
    background-image: url('../images/journal2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #8b7765;
}

.cover-title {
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Great Vibes', cursive;
    color: #2c5f2d;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.8em;
    font-family: 'Great Vibes', cursive;
    color: #4b382a;
    margin: 0;
}


.cover-title p {
    font-size: 1.2em;
    color: #6d5642;
    margin-top: 8px;
    font-style: italic;
}


.button:hover {
    background-color: #388e3c;
    transform: translateY(-2px);
}

.journal-cover::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    width: 15px;
    background: #8b7765;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.journal-cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid rgba(107, 84, 64, 0.6);
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
} */