h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    display: inline-block;
    margin: 15%;
    width: 15%;
}

.box__uploading,
.box__uploaded,
.box__err {
  display: none;
}

.btn {
    width: 300px;
    height: 100px;
    border: 2px black;
    color: #000000;
    background-color: rgb(135, 135, 135);
    line-height: 3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .btn:hover {
    background-color: rgb(65, 63, 63);
  }
  
  .btn:active {
    background-color: rgb(78, 66, 66);
  }
  

.box {
    width: 300px;
    height: 100px;
    border: 2px black;
    color: #000000;
    background-color: rgb(135, 135, 135);
    line-height: 3;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    display: inline-block;
}


.box__file_upload {
    width: 50%;
    border-bottom: none;
    margin: 0 auto;
    padding: 0;
    display: block; /* Make the buttons appear below each other */
}

.transcript {
    border: 2px black;
    color: #000000;
    background-color: rgb(135, 135, 135);
    line-height: 2;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
}
