name: CI Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.9", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Install Python, pipenv and Pipfile packages
        uses: kojoru/prepare-pipenv@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Turn on 'editable' mode
        run: |
          pipenv install -e .
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and start containers
        run: |
          docker-compose -f docker-compose.yml up --build -d
      # - name: Run tests for web-app
      #   run: |
      #     docker-compose exec web-app pytest
      # - name: Run tests for machine-learning-client
      #   run: |
      #     docker-compose exec ml-client pytest
      - name: Tear down
        run: |
          docker-compose down
      # - name: Test with pytest
      #   run: |
      #     pipenv install pytest
      #     pipenv --venv
      #     pipenv run python -m pytest
