name: lint-free

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: [web-app, machine-learning-client]
    
    name: lint-and-format (${{ matrix.component }})
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libhdf5-dev

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
      
      - name: Install dependencies
        run: |
          cd ${{ matrix.component }}
          pipenv install --dev
          pipenv install tomli typing-extensions
      
      - name: Run linting
        run: |
          cd ${{ matrix.component }}
          pipenv run pylint *.py tests/*.py || true
          pipenv run black --check .