# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
        subdir: [web-app, machine-learning-client]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install CUDA
      run: |
        sudo apt-get update
        sudo apt-get install -y cuda-toolkit-12-2

    - name: Install dependencies
      if: ${{ hashFiles(format('{0}/**/*.py', matrix.subdir)) != '' }}
      run: |
        cd ${{ matrix.subdir }}
        python -m pip install --upgrade pip
        python -m pip install pipenv
        pipenv sync --dev --python $(which python)
        pipenv install tomli

    - name: Test with pytest
      if: ${{ hashFiles(format('{0}/**/*.py', matrix.subdir)) != '' }}
      run: |
        cd ${{ matrix.subdir }}
        pipenv run pytest
